function TetrominoData.init 0
push constant 112
call Array.new 1
pop static 0
push constant 112
call Array.new 1
pop static 1
push constant 0
push constant 0
push constant 0
push constant 0
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 0
push constant 0
push constant 1
push constant 1
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 0
push constant 0
push constant 2
push constant 2
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 0
push constant 0
push constant 3
push constant 3
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 0
push constant 1
push constant 0
push constant 2
push constant 0
call TetrominoData.store 5
pop temp 0
push constant 0
push constant 1
push constant 1
push constant 2
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 0
push constant 1
push constant 2
push constant 2
push constant 2
call TetrominoData.store 5
pop temp 0
push constant 0
push constant 1
push constant 3
push constant 2
push constant 3
call TetrominoData.store 5
pop temp 0
push constant 0
push constant 2
push constant 0
push constant 0
push constant 2
call TetrominoData.store 5
pop temp 0
push constant 0
push constant 2
push constant 1
push constant 1
push constant 2
call TetrominoData.store 5
pop temp 0
push constant 0
push constant 2
push constant 2
push constant 2
push constant 2
call TetrominoData.store 5
pop temp 0
push constant 0
push constant 2
push constant 3
push constant 3
push constant 2
call TetrominoData.store 5
pop temp 0
push constant 0
push constant 3
push constant 0
push constant 1
push constant 0
call TetrominoData.store 5
pop temp 0
push constant 0
push constant 3
push constant 1
push constant 1
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 0
push constant 3
push constant 2
push constant 1
push constant 2
call TetrominoData.store 5
pop temp 0
push constant 0
push constant 3
push constant 3
push constant 1
push constant 3
call TetrominoData.store 5
pop temp 0
push constant 1
push constant 0
push constant 0
push constant 0
push constant 0
call TetrominoData.store 5
pop temp 0
push constant 1
push constant 0
push constant 1
push constant 1
push constant 0
call TetrominoData.store 5
pop temp 0
push constant 1
push constant 0
push constant 2
push constant 0
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 1
push constant 0
push constant 3
push constant 1
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 1
push constant 1
push constant 0
push constant 0
push constant 0
call TetrominoData.store 5
pop temp 0
push constant 1
push constant 1
push constant 1
push constant 1
push constant 0
call TetrominoData.store 5
pop temp 0
push constant 1
push constant 1
push constant 2
push constant 0
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 1
push constant 1
push constant 3
push constant 1
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 1
push constant 2
push constant 0
push constant 0
push constant 0
call TetrominoData.store 5
pop temp 0
push constant 1
push constant 2
push constant 1
push constant 1
push constant 0
call TetrominoData.store 5
pop temp 0
push constant 1
push constant 2
push constant 2
push constant 0
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 1
push constant 2
push constant 3
push constant 1
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 1
push constant 3
push constant 0
push constant 0
push constant 0
call TetrominoData.store 5
pop temp 0
push constant 1
push constant 3
push constant 1
push constant 1
push constant 0
call TetrominoData.store 5
pop temp 0
push constant 1
push constant 3
push constant 2
push constant 0
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 1
push constant 3
push constant 3
push constant 1
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 2
push constant 0
push constant 0
push constant 1
push constant 0
call TetrominoData.store 5
pop temp 0
push constant 2
push constant 0
push constant 1
push constant 0
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 2
push constant 0
push constant 2
push constant 1
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 2
push constant 0
push constant 3
push constant 2
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 2
push constant 1
push constant 0
push constant 1
push constant 0
call TetrominoData.store 5
pop temp 0
push constant 2
push constant 1
push constant 1
push constant 1
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 2
push constant 1
push constant 2
push constant 2
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 2
push constant 1
push constant 3
push constant 1
push constant 2
call TetrominoData.store 5
pop temp 0
push constant 2
push constant 2
push constant 0
push constant 0
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 2
push constant 2
push constant 1
push constant 1
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 2
push constant 2
push constant 2
push constant 2
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 2
push constant 2
push constant 3
push constant 1
push constant 2
call TetrominoData.store 5
pop temp 0
push constant 2
push constant 3
push constant 0
push constant 1
push constant 0
call TetrominoData.store 5
pop temp 0
push constant 2
push constant 3
push constant 1
push constant 0
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 2
push constant 3
push constant 2
push constant 1
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 2
push constant 3
push constant 3
push constant 1
push constant 2
call TetrominoData.store 5
pop temp 0
push constant 3
push constant 0
push constant 0
push constant 1
push constant 0
call TetrominoData.store 5
pop temp 0
push constant 3
push constant 0
push constant 1
push constant 2
push constant 0
call TetrominoData.store 5
pop temp 0
push constant 3
push constant 0
push constant 2
push constant 0
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 3
push constant 0
push constant 3
push constant 1
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 3
push constant 1
push constant 0
push constant 1
push constant 0
call TetrominoData.store 5
pop temp 0
push constant 3
push constant 1
push constant 1
push constant 1
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 3
push constant 1
push constant 2
push constant 2
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 3
push constant 1
push constant 3
push constant 2
push constant 2
call TetrominoData.store 5
pop temp 0
push constant 3
push constant 2
push constant 0
push constant 0
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 3
push constant 2
push constant 1
push constant 1
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 3
push constant 2
push constant 2
push constant 2
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 3
push constant 2
push constant 3
push constant 1
push constant 2
call TetrominoData.store 5
pop temp 0
push constant 3
push constant 3
push constant 0
push constant 0
push constant 0
call TetrominoData.store 5
pop temp 0
push constant 3
push constant 3
push constant 1
push constant 0
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 3
push constant 3
push constant 2
push constant 1
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 3
push constant 3
push constant 3
push constant 1
push constant 2
call TetrominoData.store 5
pop temp 0
push constant 4
push constant 0
push constant 0
push constant 0
push constant 0
call TetrominoData.store 5
pop temp 0
push constant 4
push constant 0
push constant 1
push constant 1
push constant 0
call TetrominoData.store 5
pop temp 0
push constant 4
push constant 0
push constant 2
push constant 1
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 4
push constant 0
push constant 3
push constant 2
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 4
push constant 1
push constant 0
push constant 2
push constant 0
call TetrominoData.store 5
pop temp 0
push constant 4
push constant 1
push constant 1
push constant 1
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 4
push constant 1
push constant 2
push constant 2
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 4
push constant 1
push constant 3
push constant 1
push constant 2
call TetrominoData.store 5
pop temp 0
push constant 4
push constant 2
push constant 0
push constant 0
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 4
push constant 2
push constant 1
push constant 1
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 4
push constant 2
push constant 2
push constant 1
push constant 2
call TetrominoData.store 5
pop temp 0
push constant 4
push constant 2
push constant 3
push constant 2
push constant 2
call TetrominoData.store 5
pop temp 0
push constant 4
push constant 3
push constant 0
push constant 1
push constant 0
call TetrominoData.store 5
pop temp 0
push constant 4
push constant 3
push constant 1
push constant 0
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 4
push constant 3
push constant 2
push constant 1
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 4
push constant 3
push constant 3
push constant 0
push constant 2
call TetrominoData.store 5
pop temp 0
push constant 5
push constant 0
push constant 0
push constant 2
push constant 0
call TetrominoData.store 5
pop temp 0
push constant 5
push constant 0
push constant 1
push constant 0
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 5
push constant 0
push constant 2
push constant 1
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 5
push constant 0
push constant 3
push constant 2
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 5
push constant 1
push constant 0
push constant 1
push constant 0
call TetrominoData.store 5
pop temp 0
push constant 5
push constant 1
push constant 1
push constant 1
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 5
push constant 1
push constant 2
push constant 1
push constant 2
call TetrominoData.store 5
pop temp 0
push constant 5
push constant 1
push constant 3
push constant 2
push constant 2
call TetrominoData.store 5
pop temp 0
push constant 5
push constant 2
push constant 0
push constant 0
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 5
push constant 2
push constant 1
push constant 1
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 5
push constant 2
push constant 2
push constant 2
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 5
push constant 2
push constant 3
push constant 0
push constant 2
call TetrominoData.store 5
pop temp 0
push constant 5
push constant 3
push constant 0
push constant 0
push constant 0
call TetrominoData.store 5
pop temp 0
push constant 5
push constant 3
push constant 1
push constant 1
push constant 0
call TetrominoData.store 5
pop temp 0
push constant 5
push constant 3
push constant 2
push constant 1
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 5
push constant 3
push constant 3
push constant 1
push constant 2
call TetrominoData.store 5
pop temp 0
push constant 6
push constant 0
push constant 0
push constant 0
push constant 0
call TetrominoData.store 5
pop temp 0
push constant 6
push constant 0
push constant 1
push constant 1
push constant 0
call TetrominoData.store 5
pop temp 0
push constant 6
push constant 0
push constant 2
push constant 2
push constant 0
call TetrominoData.store 5
pop temp 0
push constant 6
push constant 0
push constant 3
push constant 1
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 6
push constant 1
push constant 0
push constant 2
push constant 0
call TetrominoData.store 5
pop temp 0
push constant 6
push constant 1
push constant 1
push constant 2
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 6
push constant 1
push constant 2
push constant 1
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 6
push constant 1
push constant 3
push constant 1
push constant 2
call TetrominoData.store 5
pop temp 0
push constant 6
push constant 2
push constant 0
push constant 0
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 6
push constant 2
push constant 1
push constant 1
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 6
push constant 2
push constant 2
push constant 2
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 6
push constant 2
push constant 3
push constant 1
push constant 2
call TetrominoData.store 5
pop temp 0
push constant 6
push constant 3
push constant 0
push constant 1
push constant 0
call TetrominoData.store 5
pop temp 0
push constant 6
push constant 3
push constant 1
push constant 0
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 6
push constant 3
push constant 2
push constant 1
push constant 1
call TetrominoData.store 5
pop temp 0
push constant 6
push constant 3
push constant 3
push constant 1
push constant 2
call TetrominoData.store 5
pop temp 0
push constant 0
return
function TetrominoData.store 1
push argument 0
push constant 16
call Math.multiply 2
push argument 1
push constant 4
call Math.multiply 2
add
push argument 2
add
pop local 0
push local 0
push static 0
add
push argument 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push static 1
add
push argument 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function TetrominoData.getDx 1
push argument 0
push constant 16
call Math.multiply 2
push argument 1
push constant 4
call Math.multiply 2
add
push argument 2
add
pop local 0
push local 0
push static 0
add
pop pointer 1
push that 0
return
function TetrominoData.getDy 1
push argument 0
push constant 16
call Math.multiply 2
push argument 1
push constant 4
call Math.multiply 2
add
push argument 2
add
pop local 0
push local 0
push static 1
add
pop pointer 1
push that 0
return
